# Server
PORT=5000
NODE_ENV=development

# MongoDB Atlas connection string
MONGO_URI=mongodb://Mohamed-Suliman:EoPr0gFkLJ1IVvyM@ac-bakfgpo-shard-00-00.iax56ah.mongodb.net:27017,ac-bakfgpo-shard-00-01.iax56ah.mongodb.net:27017,ac-bakfgpo-shard-00-02.iax56ah.mongodb.net:27017/?ssl=true&replicaSet=atlas-3rlf02-shard-0&authSource=admin&appName=Cluster0

JWT_SECRET=replace_with_a_long_random_secret